---
name: CI-CD

on: [push]

jobs:
  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Super-Linter
        uses: github/super-linter@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_PYTHON_ISORT: false
  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run unittest
        run: |
          pip3 install discord
          python3  -m unittest jorkol/discord_cage_bot/tests/*.py
        shell: bash
  production-deploy:
    needs: [lint, unit-test]
    if: github.ref == 'refs/heads/master'
    environment: production
    runs-on: ubuntu-latest
    name: Deploy to production server
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Deploy Discord Cage bot to production server and start it
      run: |
        echo "===== Creating ~/.ssh directory"
        mkdir -p ~/.ssh/
        echo "$EC2_KNOWN_HOSTS" > ~/.ssh/known_hosts
        echo "$EC2_DEPLOY_KEY" > ~/.ssh/ec2_deploy.key
        chmod 600 ~/.ssh/ec2_deploy.key
        echo "===== Starting SSH Agent"
        eval `ssh-agent -s`
        echo "===== Adding key to agent"
        ssh-add ~/.ssh/ec2_deploy.key
        echo "===== Copying files to EC2-AWS"
        scp jorkol/discord_cage_bot/src/discord_cage_bot.py ${{secrets.EC2_SSH}}:/usr/local/app/discord_cage_bot.py
        echo "(Re-)starting Discord Cage bot"
        ssh ${{secrets.EC2_SSH}} 'kill $(pgrep python); python3 -u /usr/local/app/discord_cage_bot.py > /var/log/discord_cage_bot.log 2>&1 &'
      shell: bash
      env:
        EC2_DEPLOY_KEY: ${{secrets.EC2_DEPLOY_KEY}}
        EC2_KNOWN_HOSTS: ${{secrets.EC2_KNOWN_HOSTS}}
        EC2_SSH: ${{secrets.EC2_SSH}}
